
/* @media screen and (min-width:1440px) {} */
/* @media screen and (min-width:1280px) and ( max-width:1439px) {} */
/* @media screen and (min-width:768px) and ( max-width:1279px) {} */
/* @media screen and (min-width:1026px) and ( max-width:1279px) {} */
/* @media screen and (min-width:768px) and ( max-width:1025px) {} */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
@font-face {
	font-family: "myfont";
	src: url(../fonts/.woff) format("woff"),
				url(../fonts/.otf) format("otf");
}



html{
	color: #000;
	font-size: 16px;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	line-height: 2;
}
a{
	color:#000;
	display: block;
}
#wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}
section,
.section{
	min-width: 1280px;
	width: 100%;
	height: auto;
	position: relative;
}
/* .l_container{
	width: 95%;
	margin: 0 auto;
} */
.container{
	width: 1280px;
	padding: 0 50px;
	margin: 0 auto;
}
/* .m_container{
	width: 90%;
	margin: 0 auto;
	max-width: 1080px;
} */
/* .s_container{
	width: 90%;
	margin: 0 auto;
	max-width: 960px;
} */
@media screen and (min-width:1540px) {
	/* .l_container{max-width: 1680px;} */
	/* .container{max-width: 1480px;} */
}
@media screen and (min-width:1280px) and ( max-width:1539px) {
	/* html{font-size: 15px;} */
	/* .container{max-width: 1280px;} */
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	/* html{font-size: 14px;} */
	.container{max-width: none;}
}
.is_sp{display: none;}
.is_tab{display: none;}
@media screen and (min-width:751px) and ( max-width:1025px) {
	/* html{font-size: 13px;} */
	.is_hidden_tab{display: none;}
	.is_tab{display: block;}
} 
:root{
	--insta_blue:#4C64D3;
	--insta_red:#CF2E92;
	--insta_orange:#F26939;
	--insta_yellow:#FFDD83;
	--facebook: #3C5A99;
	--twitter: #1DA1F2;
	--line: #00B900;
	--youtube: #DA1725;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.preload * { transition: none !important; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.btn{
	margin-top: 2rem;
}
.btn a{
	position: relative;
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	border: solid 1px #000;
	padding: 0.4rem 1.5rem;
	width: 25rem;
	background: #fff;
	transition: .3s;
	z-index: 2;
	display: flex;
	align-items: center;
}
.btn.bk a{
	color: #fff;
	background: #000;
}
.btn a:hover{
	color: #fff;
	background: #000;
}
.btn.bk a:hover{
	color: #000;
	background: #fff;
}
.btn a span{
	font-size: 0.875rem;
	margin-left: 1.5rem;
}

.vertical_txt{
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}

.fig_txt{
	position: absolute;
	bottom: 3rem;
	right: 0;
	letter-spacing: 0.1rem;
	font-size: 1.125rem;
}
.fig{ position: absolute; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 10rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 50000;
	transition: .3s;
}
header.active{
	height: 6rem;
}
.header_in{
	width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	transition: .3s;
}
header.active .header_in{
	align-items: center;
}
.header_in .logo{
	width: 9rem;
	margin-left: 1.5rem;
	transition: .3s;
}
header.active .header_in .logo{
	width: 5rem;
}
.header_in .logo a{
	line-height: 1;
}


.menu_open{
	width: 4rem;
	position: relative;
}
.menu_open span{
	position: absolute;
	top:50%;
	left:50%;
	background: #000;
	width: 40%;
	height: 2px;
	transition: .3s;
}
.menu_open span:nth-of-type(1){transform:translate(-50%,-50%) translateY(7px);}
.menu_open span:nth-of-type(2){transform:translate(-50%,-50%);}
.menu_open span:nth-of-type(3){transform:translate(-50%,-50%) translateY(-7px);}
.menu_open.active span:nth-of-type(1){transform:translate(-50%,-50%) rotate(45deg);}
.menu_open.active span:nth-of-type(2){opacity: 0;}
.menu_open.active span:nth-of-type(3){transform:translate(-50%,-50%) rotate(-45deg);}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer{
	padding: 3rem 0 2rem;
}
footer .copyright{
	font-size: 0.8rem;
	text-align: center;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 .box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 2rem;
}
.top01 .img01{
	margin: 0 8rem 0 auto;
}
.top01 .txt{
	margin-top: 3rem;
	width: 100%;
	/* display: flex; */
	/* justify-content: space-between; */
}
.top01 .txt_in{
	position: relative;
}
.top01 .txt h2{
	margin-bottom: 1.5rem;
}
.top01 .txt h3{
	font-size: 1.75rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	margin-bottom: 1rem;
}
.top01 .txt p{
	font-size: 1.125rem;
	letter-spacing: 0.1rem;
	margin-top: 11rem;
}
.top01 .fig_wrap{
	position: relative;
}
.top01 .fig01{
	top: 0;
	left: 0;
	/* animation: updown02 10s ease-in infinite; */
}
.top01 .img02{
	position: absolute;
	top: 9rem;
	right: 0;
}
.top01 .txt .fig02{
	bottom: 12rem;
	right: 30rem;
	animation: updown 15s linear infinite;
}
.top01 .fig03{
	top: 11rem;
	right: 1rem;
}
.top01 .fig04{
	top: 16.5rem;
	right: -2.5rem;
}
@keyframes updown{
	0%{
		bottom: 12rem;
		transform: rotate(0);
	}
	50%{
		bottom: 2rem;
		transform: rotate(180deg);
	}
	100%{
		bottom: 12rem;
		transform: rotate(360deg);
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	padding: 2rem 0;
}
.top02 .box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 2rem;
}
.top02 .img01{
	position: relative;
	margin: 0 7rem 0 auto;
}
.top02 .img01 .fig01{
	bottom: 100%;
	right: 2rem;
	transform: translateY(4rem);
}
.top02 .txt{
	position: relative;
	margin: -2.5rem 13rem 0 auto;
	z-index: 2;
}
.top02 .txt h2,
.top03 .txt h2,
.top04 .txt h2{
	font-size: 2.625rem;
	font-weight: 600;
	letter-spacing: 0.3rem;
}
.top02 .txt p,
.top03 .txt p,
.top04 .txt p{
	font-size: 1.125rem;
	letter-spacing: 0.15rem;
}
.top02 .fig02{
	top: 50%;
	left: 3rem;
	transform: translateY(-50%);
	animation: updown02 15s linear infinite;
}
.top02 .fig03{
	top: 0;
	right: 0.5rem;
}
@keyframes updown02{
	0%{
		top: 50%;
		transform: translateY(-50%) rotate(0);
	}
	50%{
		top: 50%;
		transform: translateY(-50%) translateY(10rem) rotate(180deg);
	}
	100%{
		top: 50%;
		transform: translateY(-50%) rotate(360deg);
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03{
	padding: 2rem 0 4rem;
}
.top03 .box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 2rem;
}
.top03 .img01{
	position: relative;
	margin: 0 15rem 0 auto;
}
.top03 .fig01{
	top: -15rem;
	left: -7.5rem;
}
.top03 .txt{
	position: relative;
	width: 100%;
	margin-top: 2rem;
}
.top03 .txt .btn{
	margin-top: 4rem;
}
.top03 .txt .fig02{
	bottom: 15rem;
	left: 6.5rem;
}
.top03 .txt .fig03{
	top: 2.5rem;
	right: 7rem;
	animation: updown03 15s linear infinite;
	z-index: 2;
}
.top03 .txt .img02{
	position: absolute;
	bottom: 0;
	right: 7rem;
}

.top03 .fig04{
	top: 0;
	right: 0.5rem;
}
.top03 .fig05{
	bottom: 0;
	right: 0.5rem;
}
.top03 .fig_txt{
	bottom: unset;
	top: 13rem;
	right: 0;
}
@keyframes updown03{
	0%{
		top: 0;
		transform: rotate(0);
	}
	50%{
		top: 12rem;
		transform: rotate(180deg);
	}
	100%{
		top: 0;
		transform: rotate(360deg);
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04{
	padding: 4rem 0 2rem;
}
.top04 .box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 2rem;
}
.top04 .txt{
	position: relative;
	margin-left: 14rem;
	z-index: 2;
}
.top04 .txt .fig01{
	bottom: 2rem;
	right: -13rem;
	animation: updown04 15s linear infinite;
	z-index: -1;
}
.top04 .fig_txt{
	bottom: unset;
	top:  -1rem;
	right: 0;
}
@keyframes updown04{
	0%{
		bottom: 2rem;
		transform: rotate(0);
	}
	50%{
		bottom: -15rem;
		transform: rotate(180deg);
	}
	100%{
		bottom: 2rem;
		transform: rotate(360deg);
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05{
	padding: 4rem 0 2rem;
}
.top05 .box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 2rem;
}
.top05 .btn_wrap{
	margin: 7rem 8rem 0 auto;
}
.top05 .btn_wrap .btn.bk{
	margin-top: 1.5rem;
}
.top05 .fig02{
	top: -23rem;
	left: 9rem;
}
.top05 .fig03{
	top: -13rem;
	left: 4.5rem;
}
.top05 .fig04{
	top: 0;
	right: 0.5rem;
}
.top05 .fig_txt{
	bottom: unset;
	top: 9rem;
	right: 0;
}
.top05 .box02{
	margin: 8rem auto 0;
	background: #f2f2f2;
	padding: 2rem 5rem;
	letter-spacing: 0.15rem;
	width: 850px;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */


/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ IE対策 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
@media all and (-ms-high-contrast: none) {

}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ IE対策 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */



























/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ プライバシーポリシー01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.privacypolicy01 .box{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.privacypolicy01 .box h1{
	font-size: 2rem;
	text-align: center;
	margin: 0 0 2rem;
}
.privacypolicy01 .box h2{
	font-size: 1.5rem;
	margin: 3rem 0 1rem;
}
.privacypolicy01 .box ol{
	margin: 1rem 0 1rem 2rem;
}
.privacypolicy01 .box ol li{
	list-style: decimal;
	margin: 0.5rem 0;
}
.privacypolicy01 .box ul{
	margin: 1rem 0 1rem 2rem;
}
.privacypolicy01 .box ul li{
	list-style: disc;
}
.privacypolicy01 .box ul li ol{
	margin: 0rem 0 1.5rem 2rem;
}
.privacypolicy01 .box ul li ol li{
	list-style: decimal;
}
.privacypolicy01 .box .right{
	text-align: right;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ プライバシーポリシー01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

