
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
@font-face{
	font-family: "impact";
	src: url(../fonts/Impact.ttf) format("truetype");
}
body{-webkit-text-size-adjust: 100%;}
html{
	color: #000;
	font-size: 15px;
	line-height: 2;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	-webkit-text-size-adjust: 100%;
}
a{
	color: #000;
	display: block;
}
#wrapper{
	width: 100%;
	height: 100%;
	margin-top: 10rem;
}
#wrapper.lower{
	margin-top: 6rem;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
/* .l_container{
	width: 100%;
	padding:0 1rem;
} */
.container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 1.5rem;
}
.m_container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 1.5rem;
}
.s_container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 1.5rem;
}
.is_pc{display: none;}
.is_hidden_tab{display: none;}
:root{
	--insta_blue:#4C64D3;
	--insta_red:#CF2E92;
	--insta_orange:#F26939;
	--insta_yellow:#FFDD83;
	--facebook: #3C5A99;
	--twitter: #1DA1F2;
	--line: #00B900;
	--youtube: #DA1725;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.inertia{ -webkit-overflow-scrolling: touch; }
.preload * { transition: none !important; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.impact{ font-family: "impact", sans-serif; }
body.active{
	overflow: hidden;
}
.btn{
	margin-top: 1.5rem;
}
.btn a{
	position: relative;
	font-size: 1.125rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	border: solid 1px #000;
	padding: 0.4rem 1.5rem;
	width: 17.5rem;
	height: 3.2rem;
	background: #fff;
	z-index: 2;
	display: flex;
	align-items: center;
}
.btn.bk a{
	color: #fff;
	background: #000;
}
.btn a span{
	font-size: 0.875rem;
	margin-left: 1rem;
}

.vertical_txt{
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}

.fig_txt{
	position: absolute;
	bottom: 3rem;
	right: 0;
	letter-spacing: 0.1rem;
	font-size: 1.125rem;
}
.fig{ position: absolute; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 10rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	z-index: 50000;
	transition: .3s;
}
header.active,
.lower header{
	height: 5rem;
}
.header_in{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1.5rem 0;
	transition: .3s;
}
.header_in .logo{
	width: 7rem;
	margin: 1.5rem 0 0 50%;
	transform: translateX(-50%);
	transition: .3s;
}
header.active .header_in .logo,
.lower header .header_in .logo{
	width: 4.5rem;
	margin: -0.5rem 0 0;
	transform: translateX(1.5rem);
}
.header_in .logo a{
	line-height: 1;
}

header nav{
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100vh;
	background: rgba(255,255,255,.95);
	z-index: 50001;
	padding: 4rem 1.5rem 8.5rem;
	overflow-y: scroll;
	transition: .3s;
}
header nav.active{
	right: 0;
}
header nav > ul > li{
	border-bottom: solid 1px #000;
}
header nav > ul > li:last-of-type{
	border-bottom: none;
}
header nav > ul > li > a{
	font-size: 1.125rem;
	letter-spacing: 0.1rem;
	text-align: center;
	padding: 1rem 0.5rem;
}
header nav .link_wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
	padding: 0 0.75rem;
}
header nav .link_wrap li{
	width: 48%;
	margin-top: 0.75rem;
}
header nav .link_wrap li:nth-of-type(-n+2){
	margin-top: 0;
}
header nav .link_wrap li a{
	border: solid 1px #000;
	text-align: center;
	padding: 0.5rem;
}
header nav .btn{
	margin-top: 0;
}
header nav .btn a{
	max-width: 315px;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	padding: 0.4rem 0.5rem;
}
header nav .btn01{
	margin-top: 0.75rem;
}
header nav .btn01 a span{
	margin-left: 0;
}

.menu_open{
	width: 3rem;
	position: relative;
	z-index: 50002;
}
.menu_open span{
	position: absolute;
	top:50%;
	left:50%;
	background: #000;
	width: 40%;
	height: 2px;
	transition: .3s;
}
.menu_open span:nth-of-type(1){transform:translate(-50%,-50%) translateY(6px);}
.menu_open span:nth-of-type(2){transform:translate(-50%,-50%);}
.menu_open span:nth-of-type(3){transform:translate(-50%,-50%) translateY(-6px);}
.menu_open.active span:nth-of-type(1){transform:translate(-50%,-50%) rotate(45deg);}
.menu_open.active span:nth-of-type(2){opacity: 0;}
.menu_open.active span:nth-of-type(3){transform:translate(-50%,-50%) rotate(-45deg);}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer{
	padding: 3rem 0 2rem;
}
footer .copyright{
	font-size: 0.8rem;
	text-align: center;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01{
	padding: 0 0.25rem;
}
.top01 .box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.top01 .img01{
	max-width: 250px;
	width: 100%;
	margin: 0 auto;
}
.top01 .txt{
	width: 100%;
	/* margin: 3rem auto 0; */
	margin-top: 3rem;
}
.top01 .txt h2{
	max-width: 315px;
	width: 100%;
	margin: 0 auto;
}
.top01 .txt h3{
	width: 315px;
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	margin: 1rem auto 0;
}

.top01 .img02{
	width: 13rem;
	margin: 7.5rem 0 0 2rem;
}
.top01 .fig_wrap{
	position: relative;
}
.top01 .fig01{
	width: 1.75rem;
	top: 1.5rem;
	left: 3.5rem;
}
.top01 .txt p{
	letter-spacing: 0.1rem;
	margin-top: 13rem;
}
.top01 .txt .fig02{
	width: 2rem;
	bottom: 23rem;
	right: 4.5rem;
	animation: updown 15s linear infinite;
}
.top01 .fig03{
	width: 1rem;
	top: 27rem;
	right: 4.5rem;
}
.top01 .fig04{
	width: 1rem;
	top: 31.25rem;
	right: 2rem;
}

@keyframes updown{
	0%{
		bottom: 19rem;
		transform: rotate(0);
	}
	50%{
		bottom: 12rem;
		transform: rotate(180deg);
	}
	100%{
		bottom: 19rem;
		transform: rotate(360deg);
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	padding: 2rem 0.25rem;
}
.top02 .box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.top02 .img01{
	position: relative;
	width: 12.5rem;
	margin: 8rem 0 0 auto;
}
.top02 .img01 .fig01{
	width: 4rem;
	bottom: 17rem;
	right: 2rem;
}
.top02 .txt{
	position: relative;
	margin-top: 1.5rem;
}
.top02 .txt h2,
.top03 .txt h2,
.top04 .txt h2{
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.15rem;
	margin-bottom: 1rem;
}
.top02 .txt p,
.top03 .txt p,
.top04 .txt p{
	letter-spacing: 0.05rem;
}
.top02 .fig04{
	width: 1rem;
	top: -9rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03{
	padding: 6rem 0.25rem 1.5rem;
}
.top03 .box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.top03 .img01{
	position: relative;
	width: 13.5rem;
	margin: 0 2.5rem 0 auto;
}
.top03 .fig05{
	width: 6rem;
	top: -9rem;
	left: 1.75rem;
	z-index: 2;
	animation: updown02 15s linear infinite;
}
.top03 .txt{
	position: relative;
	margin-top: 9rem;
}
.top03 .txt .btn{
	margin-top: 1rem;
}
.top03 .txt .fig02{
	width: 4rem;
	top: -28rem;
	left: 3rem;
}
.top03 .txt .fig03{
	width: 3rem;
	bottom: 12rem;
	right: 2.5rem;
	animation: updown03 15s linear infinite;
	z-index: 2;
}
.top03 .txt .img02{
	margin-top: 8rem;
	width: 11.5rem;
}

@keyframes updown02{
	0%{
		top: -9rem;
		transform: rotate(0);
	}
	50%{
		top: -1rem;
		transform: rotate(180deg);
	}
	100%{
		top: -9rem;
		transform: rotate(360deg);
	}
}
@keyframes updown03{
	0%{
		bottom: 12rem;
		transform: rotate(0);
	}
	50%{
		bottom: 5rem;
		transform: rotate(180deg);
	}
	100%{
		bottom: 12rem;
		transform: rotate(360deg);
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04{
	padding: 1rem 0.25rem 10rem;
}
.top04 .box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.top04 .txt{
	position: relative;
	z-index: 2;
}
.top04 .txt .fig01{
	width: 7rem;
	bottom: -6rem;
	right: 1.5rem;
	animation: updown04 15s linear infinite;
	z-index: -1;
}
@keyframes updown04{
	0%{
		bottom: -6rem;
		transform: rotate(0);
	}
	50%{
		bottom: -15rem;
		transform: rotate(180deg);
	}
	100%{
		bottom: -6rem;
		transform: rotate(360deg);
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05{
	padding: 2rem 0 1rem;
}
.top05 .box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0 0.25rem;
}
.top05 .btn_wrap{
	margin-left: auto;
}
.top05 .btn_wrap .btn.bk{
	margin-top: 1.25rem;
}
.top05 .btn_wrap .btn a{
	width: 19rem;
}
.top05 .fig02{
	width: 1.5rem;
	top: -49.5rem;
	left: 4rem;
}
.top05 .fig03{
	width: 1.5rem;
	top: -45rem;
	left: 1rem;
}
.top05 .box02{
	margin: 5rem auto 0;
	background: #f2f2f2;
	padding: 1.5rem;
	letter-spacing: 0.1rem;
}
.top05 .box02 p{
	font-size: 0.75rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.lower_top .page_name{
	position: absolute;
	top: -4.8rem;
	right: 3.5rem;
}
.lower_top .page_name h1{
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.1rem;
}
.lower_top .ttl{
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.15rem;
	text-align: center;
}
.txt_indent{
	display: inline-block;
	padding-left: 1em;
	text-indent: -1em;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ recruit01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.recruit01{
	padding: 2rem 0.25rem 1rem;
}
.recruit01 table{
	width: 100%;
	margin-top: 2.5rem;
}
.recruit01 table tr{
	display: block;
	border-top: solid 1px #000;
	padding: 1rem 0;
}
.recruit01 table tr:last-of-type{
	border-bottom: solid 1px #000;
}
.recruit01 table th,
.recruit01 table td{
	display: block;
	font-size: 0.875rem;
	letter-spacing: 0.1rem;
	text-align: left;
}
.recruit01 table th{
	font-weight: 600;
}
.recruit01 table td ul{
	margin-left: 0.875rem;
}
.recruit01 table td ul li{
	list-style: disc;
}
.recruit01 .btn_wrap{
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.recruit01 .btn_wrap .btn{
	margin-top: 1rem;
}
.recruit01 .btn_wrap .btn.bk{
	margin-top: 0;
}
.recruit01 .btn_wrap .btn a{
	width: 315px;
	justify-content: center;
	padding: 0.4rem 0.5rem;
}
.recruit01 .btn_wrap .btn01 a span{
	margin-left: 0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ recruit01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ career_system01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.career_system01{
	padding: 1.5rem 0.25rem 3rem;
}
.career_system01 .box{
	margin-top: 2.5rem;
}
.career_system01 .subttl{
	font-size: 1.125rem;
	font-weight: 600;
	text-align: center;
	letter-spacing: 0.1rem;
	margin-bottom: 1.5rem;
}
.career_system01 h4{
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	text-align: center;
}
.career_system01 .box .item{
	margin-top: 1.5rem;
}
.career_system01 .box .item .circle_wrap .inner{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.career_system01 .box .item .circle_wrap .inner:nth-of-type(2){
	justify-content: flex-end;
	margin-top: 1rem;
}
.career_system01 .box .item .circle_wrap .inner .circle{
	border: solid 1px #000;
	border-radius: 50%;
	width: 5.25rem;
	height: 5.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
}
.career_system01 .box .item .circle_wrap .inner .circle:last-of-type{
	margin-right: 0;
}
.career_system01 .box .item .circle_wrap .inner .circle p{
	line-height: 1.5;
	letter-spacing: 0.05rem;
	text-align: center;
}
.career_system01 .box .item .cross{
	position: relative;
	width: 4rem;
	height: 4rem;
	margin: 1rem auto;
}
.career_system01 .box .item .cross::before,
.career_system01 .box .item .cross::after{
	position: absolute;
	content: '';
	width: 4rem;
	height: 1px;
	background: #000;
	top: 50%;
	left: 50%;
}
.career_system01 .box .item .cross::before{
	transform: translate(-50%,-50%) rotate(45deg);
}
.career_system01 .box .item .cross::after{
	transform: translate(-50%,-50%) rotate(-45deg);
}
.career_system01 .box .item .en{
	font-size: 1.75rem;
	text-align: center;
	margin-top: 1rem;
}
.career_system01 .box .txt{
	margin-top: 2rem;
}
.career_system01 .box .txt p{
	letter-spacing: 0.1rem;
}
.career_system01 .box02{
	margin-top: 5rem;
}
.career_system01 .box02 .main_item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.career_system01 .box02 .main_item .txt{
	order: 1;
	margin-bottom: 2rem;
}
.career_system01 .box02 .main_item .img_wrap{
	order: 2;
	max-width: 280px;
	width: 100%;
}
.career_system01 .box02 .main_item .img_wrap img{
	width: 100%;
	height: auto;
}
.career_system01 .box02 .main_item .img_wrap p{
	font-size: 0.875rem;
	text-align: right;
	letter-spacing: 0.1rem;
	margin-top: 0.25rem;
}
.career_system01 .box02 .system{
	margin-top: 3.5rem;
}
.career_system01 .box02 .system .item{
	margin-top: 3.5rem;
}
.career_system01 .box02 .system .item:first-of-type{
	margin-top: 0;
}
.career_system01 .box02 .system .item h5{
	position: relative;
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	text-align: center;
}
.career_system01 .box02 .system .item h5::after{
	position: absolute;
	content: '';
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(0.75rem);
	width: 2rem;
	height: 1px;
	background: #000;
}
.career_system01 .box02 .system .item .txt{
	margin-top: 2rem;
}
.career_system01 .box02 .system .item .txt p{
	font-size: 0.875rem;
	letter-spacing: 0.05rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ career_system01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ business_work01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.business_work01{
	background: url(../images/business_work/business_work01_back.png) 60% bottom / 767px auto no-repeat;
	padding: 0 0 7rem;
}
.business_work01 .txt{
	margin-top: 1rem;
}
.business_work01 .txt p{
	letter-spacing: 0.1rem;
}
.business_work01 .triangle{
	width: 100%;
	height: 2.5rem;
	margin: 2.75rem 0 3.75rem;
	padding: 0 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.business_work01 .triangle .item{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0.7rem 0.6rem 0 0.6rem;
	border-color: #231815 transparent transparent transparent;
}
.business_work01 .triangle .item:nth-of-type(even){
	margin-top: auto;
}
.business_work01 .links{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.business_work01 a{
	margin-top: 1.5rem;
}
.business_work01 a:first-of-type{ margin: 0 0 0 0.75rem; }
.business_work01 a:nth-of-type(2){
	margin-left: auto;
	margin-right: 0.5rem;
}
.business_work01 a:nth-of-type(3){ margin-left: 1.5rem; }
.business_work01 a:nth-of-type(5){
	margin-left: auto;
	margin-right: 1.5rem;
}
.business_work01 a:nth-of-type(6){ margin-left: 1.5rem; }
.business_work01 a span{
	display: block;
	color: #fff;
}
.business_work01 a .en{
	font-size: 2.65rem;
	line-height: 1;
	margin-bottom: 0.15rem;
}
.business_work01 a .ja{
	letter-spacing: 0.1rem;
	margin-left: 0.25rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ business_work01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ プライバシーポリシー01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.privacypolicy01 .box{
	margin: 0 auto;
}
.privacypolicy01 .box h1{
	font-size: 1.5rem;
	text-align: center;
	margin: 0 0 2rem;
}
.privacypolicy01 .box h2{
	font-size: 1.1rem;
	margin: 2.5rem 0 1rem;
}
.privacypolicy01 .box ol{
	margin: 1rem 0 1rem 1rem;
}
.privacypolicy01 .box ol li{
	list-style: decimal;
	margin: 0.5rem 0;
}
.privacypolicy01 .box ul{
	margin: 1rem 0 1rem 1rem;
}
.privacypolicy01 .box ul li{
	list-style: disc;
}
.privacypolicy01 .box ul li ol{
	margin: 0rem 0 1.5rem 1rem;
}
.privacypolicy01 .box ul li ol li{
	list-style: decimal;
}
.privacypolicy01 .box p{
	margin: 0.5rem 0;
}
.privacypolicy01 .box .right{
	text-align: right;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ プライバシーポリシー01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

@media screen and (orientation:portrait) {/* 縦向き */}
@media screen and (orientation:landscape) {/* 横向き */}